---
import bg_hero from "../assets/bg_hero.jpg";
---

<section class="relative w-full h-screen">
    <img src={bg_hero.src} alt="" class="w-full h-full object-cover" />
    <div class="absolute inset-0 flex justify-center items-center bg-black/50">
        <div class="w-full md:w-1/2 px-4">
            <h1 class="text-4xl md:text-5xl font-bold text-white">
                Diseños unicos para tu hogar
            </h1>
            <p class="text-lg md:text-xl mt-5 text-white">
                Nos ocupamos de los miles de detalles que se necesitan para
                crear una casa a medida adaptada a tu estilo de vida
            </p>
            <button
                class="bg-[#d0a676] hover:bg-[#b18a61] text-white font-bold py-2 px-4 rounded mt-5 transition-colors duration-300 cursor-pointer"
            >
                Contactanos
            </button>
        </div>
    </div>
</section>
