<section id="services" class="px-4 py-16 bg-[#f4f4f4]">
    <h1 class="text-center text-4xl font-bold mb-12">Ofrecemos</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-[80%] mx-auto">
        <div class="space-y-2">
            <span
                class="text-[#b18a61] font-bold text-2xl transition-colors duration-300"
                ><span class="text-[#b18a61] font-light">—</span> 1</span
            >
            <div
                class="mt-1 h-1 w-16 border-b-4 border-b-gray-200 hover:border-b-gray-400 transition-colors duration-300"
            >
            </div>
            <h2 class="text-3xl font-semibold p-1.5">Diseño interior</h2>
            <p class="text-gray-400 p-1.5">
                Transformamos tus ideas en espacios personalizados y
                funcionales, reflejando tu estilo y necesidades.
            </p>
        </div>
        <div class="space-y-2">
            <span class="text-[#b18a61] font-bold text-2xl"
                ><span class="text-[#b18a61] font-light">—</span> 2</span
            >
            <div
                class="mt-1 h-1 w-16 border-b-4 border-b-gray-200 hover:border-b-gray-400 transition-colors duration-300"
            >
            </div>
            <h2 class="text-3xl font-semibold p-1.5">Acompañamiento en obra</h2>
            <p class="text-gray-400 p-1.5">
                Supervisamos cada detalle constructivo asegurando que el
                proyecto se desarrolle con precision, calidad y profesionalismo.
            </p>
        </div>
        <div class="space-y-2">
            <span class="text-[#b18a61] font-bold text-2xl"
                ><span class="text-[#b18a61] font-light">—</span> 3</span
            >
            <div
                class="mt-1 h-1 w-16 border-b-4 border-b-gray-200 hover:border-b-gray-400 transition-colors duration-300"
            >
            </div>
            <h2 class="text-3xl font-semibold p-1.5">Post ventas</h2>
            <p class="text-gray-400 p-1.5">
                Garantizamos nuestros proyectos. Nuestro compromiso con la
                calidad se extiende más allá de la entrega final, asegurando tu
                total satisfacción a largo plazo.
            </p>
        </div>
    </div>
</section>
