---
import valuesImg from "../assets/images/img_values.png";
---

<section id="values" class="w-[90%] mx-auto">
    <div class="flex items-center justify-center">
        <div class="p-20 w-full">
            <img src={valuesImg.src} alt="" class="w-full h-auto" />
        </div>
        <div class="flex flex-col items-start justify-center py-10 w-full">
            <p class="text-[#b18a61] font-semibold text-lg">Sobre nosotros</p>
            <h1 class="text-3xl font-bold">Nuestros Valores</h1>
            <p class="text-lg text-gray-700">
                Arquitectas y diseñadoras con pasion por el diseño y la
                construccion. Estamos constantemente especializandonos para
                estar a la vanguardia de las mejores soluciones innovadoras y
                eficientes para cada espacio.
            </p>
            <ul class="space-y-4 pt-5 pl-1.5">
                <li class="flex items-center gap-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 text-[#b18a61]"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                    </svg>

                    <span class="text-[#b18a61] font-bold text-xl"
                        >Elaboramos la propuesta de diseño</span
                    >
                </li>
                <li class="flex items-center gap-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 text-[#b18a61]"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                    </svg>
                    <span class="text-[#b18a61] font-bold text-xl"
                        >Coordinamos especialidades y proveedores</span
                    >
                </li>
                <li class="flex items-center gap-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 text-[#b18a61]"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                    </svg>
                    <span class="text-[#b18a61] font-bold text-xl"
                        >Supervisamos la ejecución</span
                    >
                </li>
            </ul>
        </div>
    </div>
</section>
