---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Primary Meta Tags -->
		<title>
			Detalle en Obra |Diseño, Remodelación y Construcción Constructora
			liderada por MUJERES
		</title>
		<meta
			name="title"
			content="Detalle en Obra |Diseño, Remodelación y Construcción
Constructora liderada por MUJERES"
		/>
		<meta
			name="description"
			content="iseño, Remodelación y Construcción
Constructora liderada por MUJERES"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
